body{
     color: #40514E ;
    text-align: center;
      margin: 0;
      font-family: 'Merriweather', serif;    /*web safe fonts,  css font stack ,browse fonts google fonts  //lorem ipsum generator//
                                                //gipsy//
                                                //flaticon//*/
      /*font-size: 2em;*/

}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  margin-bottom: 50px;
}
h1{
  font-size: 5.625rem; /* 100%=16px=1em*/
  margin: 50px auto 0 auto;
   /*width:10%;
   margin:0 auto;*/
 font-family: 'Sacramento', cursive;
 color: #66BFBF;
 line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}
/*.middle-container{
  width: 200px;
  height: 200px;
  background-color: blue;
}
.bottom-container{
  width: 200px;
  height:200px;
  background-color: red;

}*/
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position:absolute;
  left:400px;
  bottom:300px;

}
.top-cloud{
  position: absolute;
  top:50px;
  right:400px;
}
.ap{
  font-size: 1.5rem;
  margin-top:0;
  color: #11999E;
  font-weight: normal;
}
h3{
  color: #11999E;
}
a
{

   color: #11999E;
   margin:10px 20px;
   text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;

}
p{
  line-height: 2;
}
.code-pic{
  width:25%;
  float:left;
  margin-right: 30px;
}
.chilli-pic{
  width: 25%;
  float:right;
  margin-left:30px;
}
/*.code-skill-discription{
  clear:left;
}
.chilli-skill-discription{
  clear:right;
}*/
.discription{
  text-align: center;
  width: 30%;
  margin: auto;
  color: #40514E;
}
hr{
  color: #EAF6F6;
  width:4%;
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  margin: 100px auto;

}

.dis{
  width:40%;
  margin: 40px auto 60px ;

}
.btn {
  background: #11cdd4;
  margin-bottom: 50px;

  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;

  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;


  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{

  margin-top:100px;
  padding:50px 0 20px;
  background-color: #66BFBF;

}
.copy-right{
  color:#EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
}
